:root {
  --rojo-brillante: rgb(242, 95, 58);
  --azul-oscuro: rgb(35, 44, 81);
  --azul-grisaceo-oscuro: rgb(143, 148, 167);
  --azul-muy-oscuro: rgb(29, 30, 37);
  --rojo-muy-palido: rgb(255, 239, 234);
  --gris-claro: rgb(249, 249, 249);
}

/* Estilos globales */

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Be Vietnam Pro', sans-serif;
}

body {
  background-color: #fff;
}

/* Estilos header */

.header {
  display: flex;
  height: 60px;
}

.desktop-header {
  justify-content: space-evenly;
  align-items: center;
}

.mobile-header{
  display: none;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 25px;
  color: var(--azul-oscuro);
  font-weight: 500;
}

/* Estilos seccion introductoria */

.get-started {
  background-color: var(--rojo-brillante);
  border: none;
  padding: 1em 1.5em;
  font-weight: 500;
  color: var(--gris-claro);
  font-family: 'Be Vietnam Pro', sans-serif;
  border-radius: 999px;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, .2);
}
.introduction-section {
  display: flex;
}

.introduction-h1 {
  font-weight: 700;
  color: var(--azul-oscuro);
  font-size: 2.5rem;
}

.sub-title {
  color: var(--azul-oscuro);
  font-weight: 700;
}
/* Estilos lista ordenada */

.manage-ol {
  list-style: none;
  padding-left: 0;
}

.li-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .5rem;
}

.number {
  display: inline-block;
  background-color: var(--rojo-brillante);
  padding: .5em 1.2em;
  border-radius: 999px;
  color: var(--gris-claro)
}

.li-h4 {
  color: rgba(35, 44, 81, .9);
}

.li-p {
  color: var(--azul-grisaceo-oscuro);
  line-height: 1.8em;
}

/* Estilos seccion testimonios */

.testimonies-section {
  text-align: center;
}

.testimonie-title {
  text-align: center;
  margin-bottom: 75px;
}

.testimonie {
  text-align: center;
  background-color: var(--gris-claro);
  background-size: 50%;
  padding-top: 50px;
  position: relative;
}

.testimonie-p {
  text-align: center;
  color: var(--azul-grisaceo-oscuro);
  font-weight: 400;
  line-height: 1.8em;
  padding: 0 30px;
}

.testimonie-pic {
  max-width: 100px;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.bullets-container {
  display: none;
}

.testimonies-section .get-started {
  margin-top: 25px;
}

@media screen and (max-width:768px){

  /* Estilos globales */
  body {
    background-image: url('../../imagenes/bg-tablet-pattern.svg');
    background-size: 95%;
    background-position: 200% -10%;
    background-repeat: no-repeat;
  }

  /* Estilos header */

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    padding: 2em 1.5em;
    align-items: center;
  }

  .responsive-nav {
    width: 40px;
    height: 100%;
    display: grid;
    place-content: center;
  }
  
  .burger {
    display: inline-block;
    background-color: var(--azul-muy-oscuro);
    width: 35px;
    height: 5px;
  }

  .burger::before {
    content: '';
    display: inline-block;
    background-color: var(--azul-muy-oscuro);
    width: 35px;
    height: 5px;
    position: absolute;
    transform: translateY(-0.6em);
  }

  .burger::after {
    content: '';
    display: inline-block;
    background-color: var(--azul-muy-oscuro);
    width: 35px;
    height: 5px;
    position: absolute;
    transform: translateY(0.6em);
  }

  /* Estilos seccion introductoria */

  .get-started-section {
    background-image: url('../../imagenes/bg-tablet-pattern.svg');
    background-size: 80%;
    background-position:150% 0;
    background-repeat: no-repeat;
  }

  .introduction-section {
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5rem;
  }

  .section-p {
    padding: 0 2em;
    line-height: 1.8em;
    color: var(--azul-grisaceo-oscuro);
    text-align: center;
  }

  
  .introduction-section img{
    max-width: 80%;
  }
  
  /* Estilos seccion manage */
  .manage-title {
    text-align: center;
    padding: 0 15%;
  }
  
  .section-p:nth-child(2) {
    margin-bottom: 60px;
    padding: 0 25px;
  }
  .ol-li {
    margin-bottom: 30px;
  }

  .li-title {
    padding-left: 1.5rem;
    background-color: var(--rojo-muy-palido);
  }

  .li-h4 {
    font-size: 1em;
    margin: 0;
  }

  .li-p {
    padding: 0 15px;
  }
  /* Estilos seccion testimonios */

  .testimonie:nth-child(2), .testimonie:nth-child(3) {
    display: none;
  }

  .bullets-container {
    display: block;
    text-align: center;
  }
  
  .bullet {
    box-sizing: border-box;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--rojo-brillante);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
  }

  .bullet::before {
    box-sizing: border-box;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid var(--rojo-brillante);
    background-color: #fff;
    position: absolute;
    transform: translateX(-25px);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
  }

  .bullet::after {
    box-sizing: border-box;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--rojo-brillante);
    position: absolute;
    transform: translateX(15px);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
  }

}